*.1
.ghc*
*.c
_darcs
.stack-work
tags
dist
manual.out
*.toc
*.aux
*.log
tags
dist
dist-*
doc
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.tix
*.eventlog
.stack-work/
.HTF/
